//fonts

$roboto: 'roboto', Helvetica, sans-serif;
$awesome: 'awesome', Helvetica, sans-serif;


// colors

$black_bg: #2D3136;
$white_bg: #F6F6F7;
$blue_bg: #4B596C;
$green_bg: #58AD52;
$light_blue_bg: #E9EEF3;
$light_green_bg: #DEEBDE;


//sizes
