.btn {
	width: 115px;
	height: 46px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: $roboto;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: #BD393B;
	transition: all .2s;
	&:hover {
		background: darken(#BD393B, 5%);
		color: darken(#fff, 5%);
	}
}