.status {
  display: block;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
}

.status_type_true {
  background-color: $light_green_bg;
  color: #768275;
}

.status_type_false {
  background-color: lighten(#be393b, 35%);
  color: darken(#be393b, 20%);
}